/*************************
GENERAL
*************************/

body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 2%;
}

h1,
h2 {
  text-align: center;
}

p, .contentList {
  line-height: 2;
}

table,
td,
th {
  border: 1px solid #151515;
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-bottom: 10px;
}



/*************************
FONT-SIZE
*************************/

html {
  font-size: 100%;
}

header h1 {
  font-size: 1.5em;
}

h1 {
  font-size: 1.1em;
}

h2 {
  font-size: 1em;
}

p, .contentList {
  font-size: 0.9em;
}

#mobileNav li,
.backToTop {
  font-size: 0.8em;
}

.textImageRight,
.textImageLeft,
.timeStamp,
footer {
  font-size: 0.7em;
}



/*************************
HEADING
*************************/

header {
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
  padding: 0 5% 3%;
}

#logo {
  padding: 2.5% 5% 1%;
}

#mobileHeaderPic {
  padding: 6% 10% 5%;
  margin: 0;
}

#desktopNav {
  display: none;
}



/*************************
NAVIGATION
*************************/

#mobileNav {
  text-align: center;
  margin: 0;
  padding: 0 0 5px;
}

#mobileNav ul {
  list-style: none;
  margin: 0;
  padding: 2px 0 0 0;
}

#mobileNav li {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}



/*************************
ARTICLE
*************************/

article {
  padding: 1px 10%;
  margin: 0;
}

.textImageRight {
  text-align: center;
  float: right;
  margin: 0 10px 10px 10px;
}

.textImageLeft {
  text-align: center;
  float: left;
  margin: 0 10px 10px 10px;
}

.backToTop {
  text-align: center;
  clear: both;
  margin-bottom: 10px;
}

.timeStamp {
  text-align: center;
}



/*************************
FOOTER
*************************/

footer {
  text-align: center;
  padding: 1px 0;
  clear: both;
}



/*************************
IMAGES
*************************/

#wonderBread,
#sourdoughBoule,
#wheatField,
#scale,
#starterRipe,
#starterFed,
#starterContainer,
#wheatFlour,
#bobsRedMill {
  max-width: 256px;
  margin: 0;
}

#mobileHeaderPic img,
#desktopNav img,
.textImageRight img,
.textImageLeft img,
.gallery img {
  border-radius: 5%;
}



/*************************
PAGE: PHOTO GALLERY
*************************/

#wrapper {
  margin: 0;
  padding: 0 2.5%;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
}



/*************************
COLORS

light green #e3f7e3
light blue  #b1e2b4
dark brown  #512a2c
orange      #fa9757
*************************/

body {
  background: #e3f7e3;
  color: #151515;
}

header {
  background: #b1e2b4;
}

#mobileNav {
  background: #e3f7e3;
}

nav ul li a:link, nav ul li a:visited {
  color: #fa9757;
}

nav ul li a.current:link, a.current:visited {
  color: #512a2c;
}

a:link, a:visited {
  text-decoration: none;
  color: #fa9757;
}

.recipeBlue {
  background-color: #b1e2b4;
}

footer {
  background: #b1e2b4;
}