/*************************
GENERAL
*************************/

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;

}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.1em;
  text-align: center;
}

h2 {
  font-size: 1em;
  text-align: center;
}

p, .contentList {
  line-height: 1.75;
}

p, ul li, ol li {
  font-size: 0.9em;
}

table, td, th {
  border: 1px solid #151515;
  border-collapse: collapse;
  font-size: .9em;
}

table {
  width: 100%;
  margin-bottom: 10px;
}



/*************************
HEADING
*************************/

header {
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
  padding: 0 5% 5%;
}

#logo {
  padding: 2.5% 5%;
}

#mobileHeaderPic {
  padding: 5% 10%;
  margin: 0;
}

#desktopHeaderPic {
  display: none;
}



/*************************
NAVIGATION
*************************/

nav {
  text-align: center;
  margin: 0;
  padding: 0 0 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 2px 0 0 0;
}

nav li {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
  font-size: .8em;
}



/*************************
ARTICLE
*************************/

article {
  padding: 0 10%;
}

#backToTop {
  font-size: .8em;
  text-align: center;
  clear: both;
  margin-bottom: 10px;
}

#timeStamp {
  font-size: 0.6em;
  text-align: center;
}

.textImageRight {
  font-size: 0.6em;
  text-align: center;
  float: right;
  margin: 0 10px 10px 10px;
}

.textImageLeft {
  font-size: 0.6em;
  text-align: center;
  float: left;
  margin: 0 10px 10px 10px;
}



/*************************
FOOTER
*************************/

footer {
  font-size: 0.8em;
  text-align: center;
  padding: 0 0 5px;
  clear: both;
}



/*************************
IMAGES
*************************/

#wonderBread,#sourdoughBoule,#wheatField,#scale,#starterRipe,#starterFed,#starterContainer,#wheatFlour,#bobsRedMill {
  max-width: 256px;
  margin: 0;
}



/*************************
PAGE: PHOTO GALLERY
*************************/

#wrapper {
  margin: 0;
  padding: 2.5%;
}

#wrapper h2 {
  clear: both;
  margin: 0;
  padding: 0;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
}



/*************************
COLORS

light green #e3f7e3
light blue  #b1e2b4
dark brown  #512a2c
orange      #fa9757
*************************/

body {
  background: #e3f7e3;
  color: #151515;
}

header {
  background: #b1e2b4;
  border-bottom: 2px solid #fa9757;
}

nav {
  background: #e3f7e3;
  border-top: 1px solid #fa9757;
  border-bottom: 1px solid #fa9757;
}

nav ul li a:link, nav ul li a:visited {
  color: #fa9757;
}

nav ul li a.current:link, a.current:visited {
  color: #512a2c;
}

a:link, a:visited {
  text-decoration: none;
  color: #fa9757;
}

footer {
  background: #b1e2b4;
  border-top: 2px solid #fa9757;
}