@media screen and (min-width: 360px) {

  /*************************
  ARTICLE
  *************************/

  .textImageRight {
    margin: 10px 0 5px 10px;
  }

  .textImageLeft {
    margin: 10px 10px 5px 0;
  }



  /*************************
  IMAGES
  *************************/

  #wonderBread,#sourdoughBoule,#wheatField,#scale,#starterRipe,#starterFed,#starterContainer,#wheatFlour,#bobsRedMill {
    max-width: 150px;
    margin: 0;
  }

}



@media screen and (min-width: 500px) {

  /*************************
  HEADING
  *************************/

  #logo {
    padding: 1% 25%;
  }

  #mobileHeaderPic {
    display: none;
  }

  #desktopHeaderPic {
    display: inline-block;
  }

  #desktopHeaderPic ul {
    margin: 0 2.5%;
    padding: 0;
    list-style: none;
  }

  #desktopHeaderPic ul li {
    float: left;
    width: 20%;
    margin: 2.5%;
  }

}



@media screen and (min-width: 660px) {

  /*************************
  GENERAL
  *************************/

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  p, ul li, ol li, table, td, th {
    font-size: 1em;
  }

  header h1 {
    font-size: 1.5em;
    padding: 0 5% 2.5%;
  }



	/*************************
	NAVIGATION
	*************************/

  nav li {
    font-size: .9em;
  }



  /*************************
  ARTICLE
  *************************/

  .textImageRight {
    font-size: 0.6em;
    text-align: center;
    float: right;
    margin: 15px 0 15px 15px;
  }

  .textImageLeft {
    font-size: 0.6em;
    text-align: center;
    float: left;
    margin: 15px 15px 15px 0;
  }



  /*************************
  IMAGES
  *************************/

  #wonderBread,#sourdoughBoule,#wheatField,#scale,#starterRipe,#starterFed,#starterContainer,#wheatFlour,#bobsRedMill {
    max-width: 256px;
    margin: 0;
  }



  /*************************
  GALLERY
  *************************/

  .gallery li {
    width: 28.3333%;
  }

}