@media screen and (min-width: 360px) {

  /*************************
  ARTICLE
  *************************/

  .textImageRight {
    margin: 10px 0 5px 10px;
  }

  .textImageLeft {
    margin: 10px 10px 5px 0;
  }



  /*************************
  IMAGES
  *************************/

  #wonderBread,#sourdoughBoule,#wheatField,#scale,#starterRipe,#starterFed,#starterContainer,#wheatFlour,#bobsRedMill {
    max-width: 150px;
    margin: 0;
  }

}



@media screen and (min-width: 480px) {

  /*************************
  HEADING
  *************************/

  #logo {
    padding: 2% 25%;
  }

  #mobileHeaderPic {
    display: none;
  }

  #desktopHeaderPic {
    display: inline-block;
  }

  #desktopHeaderPic ul {
    margin: 1% 2.5% 0;
    padding: 0;
    list-style: none;
  }

  #desktopHeaderPic ul li {
    float: left;
    width: 20%;
    margin: 2.5%;
  }

  header h1 {
    padding: 0 5% 2.5%;
  }

}



@media screen and (min-width: 720px) {

  /*************************
  GENERAL
  *************************/

  html {
    font-size: 120%;
  }

  



	/*************************
	NAVIGATION
	*************************/



  /*************************
  ARTICLE
  *************************/

  .textImageRight {
    text-align: center;
    float: right;
    margin: 15px 0 15px 15px;
  }

  .textImageLeft {
    text-align: center;
    float: left;
    margin: 15px 15px 15px 0;
  }



  /*************************
  IMAGES
  *************************/

  #wonderBread,#sourdoughBoule,#wheatField,#scale,#starterRipe,#starterFed,#starterContainer,#wheatFlour,#bobsRedMill {
    max-width: 256px;
    margin: 0;
  }



  /*************************
  GALLERY
  *************************/

  .gallery li {
    width: 28.3333%;
  }

}